---
layout: base.njk
templateEngineOverride: md, njk
bodyClass: front-page
---


<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      <img src="https://blog.shabda.co/wp-content/uploads/2022/02/historical-evolution.png"/>
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url | url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>

  <h2 id="quickstart" class="tdbc-h3 tdbc-mt-lg">Quick Start</h2>

  
{{ content | safe }}

</main>
